* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #303446;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: relative;
    background-color: #232634;
    border-bottom: white 3px solid;   
    padding: 0.5em;
    z-index: 100;
}

.icons {
    text-align: center;
    justify-content: space-around;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.icons img {
    padding: 0 7%;
}